name: pinapp_challenge
description: Aplicación Flutter que consume JSONPlaceholder para mostrar posts y comentarios. Implementación híbrida. posts en Flutter, comentarios en Swift (iOS) y Kotlin (Android).
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.5.0

dependencies:
  bloc: ^9.0.0
  comments_repository:
    path: packages/comments_repository
  equatable: ^2.0.7
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0
  posts_repository:
    path: packages/posts_repository

dev_dependencies:
  bloc_test: ^10.0.0
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  very_good_analysis: ^7.0.0

flutter:
  uses-material-design: true
  generate: true
